<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kulenski.android.ossmobui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.FirstSetupActivity" />
        <activity android:name=".activity.AppUpdateActivity" android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.network.NetworkMainActivity" />
        <activity android:name=".activity.network.NetworkMapActivity" />
    </application>

</manifest>